<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466341533832-3bhiq6lc0lm78g6v58pf0tjqtk1narvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466341533832-3bhiq6lc0lm78g6v58pf0tjqtk1narvp</string>
	<key>API_KEY</key>
	<string>AIzaSyBDY1b-hTmvwkthM0ihqIv97HyVREjd1Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>466341533832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hyeongyu.loginpage</string>
	<key>PROJECT_ID</key>
	<string>loginpage-d5062</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-d5062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466341533832:ios:e84813c5fa051bedcba73d</string>
	<key>DATABASE_URL</key>
	<string>https://loginpage-d5062.firebaseio.com</string>
</dict>
</plist>