<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428168767724-gfdelb28u16d3nj2l4jn1nhc2br3mtpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428168767724-gfdelb28u16d3nj2l4jn1nhc2br3mtpj</string>
	<key>API_KEY</key>
	<string>AIzaSyBG7ORQi6mBPpkIiAf-A2YFh-u138SOFWI</string>
	<key>GCM_SENDER_ID</key>
	<string>428168767724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hyeongyu.loginpage</string>
	<key>PROJECT_ID</key>
	<string>loginpage-892b6</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-892b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428168767724:ios:d665a566c9bdd5d9c5ddc9</string>
	<key>DATABASE_URL</key>
	<string>https://loginpage-892b6.firebaseio.com</string>
</dict>
</plist>